<html>
<head></head>
<body>
<div class="infoSection">

  <div class="infobox">
    <div class="box">
      <label for="course-code">Kurskod</label>
    </div>
    <form (ngSubmit)="onSubmit()" class="searchform">
      <div class="form-group">
        <input type="text" class="form-control" id="course-code" [(ngModel)]="kursnamn" name="course-code" >
      </div>
      <div class="box_button"  >
        <button class="myButton" mat-flat-button color="accent" click="getKursByKurskod()" >sök</button>
      </div>
   </form>
  </div>

  <div class="infobox" >
    <div class="box">
    <label >Uppgift i Canvas</label>
      </div>
      <form (ngSubmit)="onSubmit()" class="searchform">
       <div class="form-group">
      <input type="text" class="form-control"  size="20" id="course-task" [(ngModel)]="uppgift" name="course-task" >
    </div>
    <div class="box_button"  >
      <button class="myButton" mat-flat-button color="accent" click="findKursByKurskod()" >sök</button>
    </div>
      </form>
  </div>
  <div class="infobox" >
    <div class="box">
      <label for="modul-in-ladok">Modul i Ladok</label>
    </div>
    <div class="box">
      <table *ngFor ="let kurs of kurser; let i=index"
      [class.selected]="kurs===currentKurs"
      (click)="setCurrentKurs(kurs, i)"
      (click)="onSelectKurs(kurs)">

      <td type="text" id="modul-in-ladok">  {{this.kurs.modul}}</td>
      </table>
    </div>

</div>
  <!--<div class="list-group-item-button">
    <div class="box">
      <label for="course-code">Markera</label>
    </div>
    <div class="box_button">
      <button mat-icon-button color="accent" >
        <button class="search-button" mat-flat-button color="accent" >Alla</button>
      </button>
    </div>
    <div class="box_button">
      <button mat-icon-button color="accent" >
        <button class="search-button" mat-flat-button color="accent">Betygsatta</button>
      </button>
    </div>
    <div class="box_button">
      <button mat-icon-button color="accent" >
        <button class="search-button" mat-flat-button color="accent">Inga</button>
      </button>
    </div>
  </div>-->
  <!--<div class="list-group-item-button">

    <label for="course-code">Datum för markerade</label>

    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button class="search-button" mat-flat-button color="accent" >Sätt datum</button>
  </div>
  <div class="myBorder">



    <input  class="form-control" type="text" >
    <button class="search-button" mat-flat-button color="accent" (click)="updateResultat()">Överför</button>


  </div>-->


</div>
<div >
  <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg color_DeepSkyBlue">

    <tr >
      <th scope="col">Namn</th>
      <th scope="col">Omdöme i Canvas </th>
      <th scope="col">Betyg i Ladok</th>
      <th scope="col">Examinationsdatum</th>
      <th scope="col">Status</th>
      <th scope="col">Information</th>
      <th scope="col">Överför</th>
    </tr>
    <tr *ngFor ="let canvasdataResult of canvasdataResults; let i=index"
    [class.selected]="canvasdataResult===currentCanvasdataResult"
        (click)="setCurrentCanvasdataResult(canvasdataResult, i)"
        (click)="onSelect(canvasdataResult)">


      <td> {{this.canvasdataResult.studentnamn}}</td>
      <td> {{this.canvasdataResult.omdome}}</td>
      <td> <input [(ngModel)]="this.canvasdataResult.resultat"></td>
      <td> <input type="date"  [ngModel]="this.canvasdataResult.registr_datum | date: 'yyyy-MM-dd'" > </td>

      <td> <input [(ngModel)]="this.canvasdataResult.status"></td>
      <td ><input [(ngModel)]="this.canvasdataResult.information"></td>
      <td> <button (click)="updateResultat()">Överför</button></td>

    </tr>
  </table>
  <p>{{this.message}}</p>

  </div>
<div *ngIf="currentCanvasdataResult">
  <p>{{currentCanvasdataResult.studentnamn}}-{{currentCanvasdataResult.personnummer}}</p>

</div>

<!--<div  >
  <div class="col-md-6  container_border" >
    <div *ngIf="currentCanvasdataResult"
    >
        <h4><strong>Överföring</strong></h4>
      <form>
        <div class="form-group">
          <label for="result">Betyg i Ladok</label>
          <input
            type="text"
            class="form-control"
            id="myId"
            [(ngModel)]="this.currentCanvasdataResult.id"
            name="myId"
          />
          <input
            type="text"
            class="form-control"
            id="result"
            [(ngModel)]="this.currentCanvasdataResult.resultat"
            name="result"
          />
        </div>
        <div class="form-group">
          <label for="datum">Examinationsdatum</label>
          <input
            type="text"
            class="form-control"
            id="datum"
            [(ngModel)]="this.currentCanvasdataResult.registrDatum"
            name="datum"
          />
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <input
            type="text"
            class="form-control"
            id="status"
            [(ngModel)]="this.currentCanvasdataResult.status"
            name="status"
          />
        </div>
        <div class="form-group">
          <label for="info">Information</label>
          <input
            type="text"
            class="form-control"
            id="info"
            [(ngModel)]="this.currentCanvasdataResult.information"
            name="info"
          />
        </div>

      </form>
      <button type="submit" class="badge badge-success mb-2 btn1" (click)="updateResultat()" >
        Överför
      </button>

    </div>
  </div>
</div>-->
<div class="infobox_1">
<div class="lowerleft" >
  <div class="box">
    <label >Ange StudentID</label>
  </div>
  <form (ngSubmit)="onSubmit()" class="searchform">
    <div class="form-group">
      <input type="text" class="form-control"  size="20" id="course-tas" [(ngModel)]="studentID" name="course-task" >
    </div>
    <div class="box_button"  >
      <button class="myButton" mat-flat-button color="accent" click="getPnr()" >sök pnr</button>
    </div>
  </form>

</div>
  <form>
<div class="lowercenter" >
  <table *ngFor ="let student of studentsIts;">
    <td> {{this.student.studentnamn}} -- {{this.student.personnummer}}</td>

   </table>

</div>
  </form>
</div>
</body>
</html>
